<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='menu.css') }}">
    <title>homepage</title>
</head>
<body>
    <header>
        <div class="menu-hamburger" onclick="toggleMenu()">&#9776;</div>
        <nav class="menu">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/contatos">Contatos</a></li>
                <li><a href="/login">Login</a></li>


                <script>
                    function toggleMenu(){
                        var menu = document.querySelector('.menu');
                        menu.classList.toggle('active');
                    }
                </script>
            </ul>
        </nav>
    </header>

   

    <div class="container">
        <div class="texto1"><h1>Minha Homepage</h1></div> 
        <div class="quadrado">
            <h1>Cadastro</h1>
            <form method="post" action="{{ url_for('homepage')}}">
                <input type="name" name="nome" id="nome" placeholder="Cadastre seu nome"><br>
                <input type="name" name="sobrenome" id="sobrenome" placeholder="Cadastre seu sobrenome"><br>
                <input type="email" name="email" id="email" placeholder="Cadastre seu email"><br>
                <input type="password" name="senha" id="senha" placeholder="Cadastre sua senha"><br>
                <button type="submit">Enviar</button>
                <a href="/login">Já possui uma conta?</a>
            </form>
        </div>
    </div>
</body>
</html>
